h1{
    margin-left: 40px;
    
}


h3{
 margin: 30px;
}

body{
    background-color: #75bbbb;
    
}



.div1{
    width:30%;
    height: 40rem;
    background-color: rgb(95, 151, 151);
    float: left;
}

.div1 p{
    margin: 30px;
}


.div2{
    width:70%;
    height: 40rem;
    background-color: rgb(180, 193, 193);
    overflow:auto;
}

.div2 h2{
    text-align: right;
    padding-right: 60px;
    padding-top: 25px;
}


a {
    text-decoration: none; 
    color: inherit;       
}


@media only screen and (max-width: 600px) {
  .example {background: red;}
}

@media only screen and (min-width: 600px) {
  .example {background: green;}
}

@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 

@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 

@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}